<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KinesferaLab</title>
    <link rel="shortcut icon" href="../../img/logos/logotipo_principal.png">
    <link rel="stylesheet" href="../css/interfaz_externa/style_login.css">
</head>
<body>
    <div class="formulario">
        <h1>Publicar Creaciòn Artistica</h1>
        <div class="main">
        <form action="codigo_form.php" method="post" enctype="multipart/form-data">
        <input type="text" name="libro" placeholder="Titulo" required><br>
        <input type="text" name="autor" placeholder="Descripcion" required><br>
        <label>Imagen de Portada </label><input type="file" name="imagen" accept="image/*" required><br>
        <input type="number" name="paginas" placeholder="" required><br>
       <input type="text" name="descripcion" placeholder="Descripción Corta" required><br>
        <input type="text" name="genero" placeholder="Genero" required><br>
       <input type="text" name="publico" placeholder="Publico" required><br>
       <input type="text" name="disponible" placeholder="Disponibilidad" required><br>
        <input type="submit" name="btn_form" value="Publicar">
      </form>
    </div>
</div>

</body>
</html>