<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kinesfera Lab</title>
        <link rel="stylesheet" href="../css/interfaz_externa/eventos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
	    <link rel="icon" type="image/png" href="img/portafolio/logotipo.PNG">
    </head>
    <body>
        <!-- COMIENZO MENU -->
        <header>
            <img src="../img/logos/logotipo3.png" alt="Logo Kinesfera">
            <h1>Kinesfera <span> Lab</span></h1>
            <nav>
                <a href="../../index.html">Inicio</a>
                <a href="noticias.html">Noticias</a>
                <a href="eventos.html">Eventos</a>
                <a href="minibiblioteca.html">Biblioteca</a>
                <a href="galeria.html">Galeria</a>
                <a href="login.html">Ingresar</a>
            </nav>  
        </header>   
        <div class="contenedor_animacion">
            <div class="w-100 contenedor_list">
                <ul>
                    <li>Bienvenido</li>
                    <li>a</li>
                    <li>Eventos</li>
                </ul>
            </div>
        </div>

        <section id="supercaja">
                <div class="caja0"><img class="img3" src="../img/interfaz_externa/eventos/Eventos_titulo.png"></div>
        </section>

        <div class="wrapper">
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento1.jpg" alt="">
                <div class="info">
                    <h1>Evento 1</h1>
                    <p >Lorem ipsum dolor sit amet sdfnkjdsfnkjsdgnfdkjgfdjg</p>
                    <br>
                    <a href="#evento1" class="btn">Leer mas</a>
                </div>
            </div>
    
            <div class="event">
                <img src="../img/interfaz_externa/eventos/eventos2.jpg" alt="">
                <div class="info">
                    <h1>Evento 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores cupiditate </p>
                    <br>
                    <a href="#evento2" class="btn">Leer mas</a>
                </div>
            </div>
    
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento3.jpg" alt="">
                <div class="info">
                    <h1>Evento 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores cupiditate </p>
                    <br>
                    <a href="#evento3" class="btn">Leer mas</a>
                </div>
            </div>
    
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento6.jpg" alt="">
                <div class="info">
                    <h1>Evento 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores cupiditate </p>
                    <br>
                    <a href="#evento4" class="btn">Leer mas</a>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento7.jpg" alt="">
                <div class="info">
                    <h1>Evento 5</h1>
                    <p >Lorem ipsum dolor sit amet sdfnkjdsfnkjsdgnfdkjgfdjg</p>
                    <br>
                    <a href="#evento5" class="btn">Leer mas</a>
                </div>
            </div>
    
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento8.jpg" alt="">
                <div class="info">
                    <h1>Evento 6</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores cupiditate </p>
                    <br>
                    <a href="#evento6" class="btn">Leer mas</a>
                </div>
            </div>
    
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento5.jpg" alt="">
                <div class="info">
                    <h1>Evento 7</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores cupiditate </p>
                    <br>
                    <a href="#evento7" class="btn">Leer mas</a>
                </div>
            </div>
    
            <div class="event">
                <img src="../img/interfaz_externa/eventos/evento4.jpg" alt="">
                <div class="info">
                    <h1>Evento 8</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores cupiditate </p>
                    <br>
                    <a href="#evento8" class="btn">Leer mas</a>
                </div>
            </div>
        </div>
        


        <!--CLICK DEL EVENTO Y VENTANAS QUE SALEN-->
        <!--EVENTO 1-->
        <article class="evento_click" id="evento1">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento1.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 2-->
        <article class="evento_click" id="evento2">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/eventos2.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 3-->
        <article class="evento_click" id="evento3">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento3.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 4-->
        <article class="evento_click" id="evento4">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento6.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 5-->
        <article class="evento_click" id="evento5">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento7.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 6-->
        <article class="evento_click" id="evento6">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento8.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 7-->
        <article class="evento_click" id="evento7">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento5.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>

        <!--EVENTO 8-->
        <article class="evento_click" id="evento8">
            
            <div class="container_click">
                <img class="evento_img" src="../img/interfaz_externa/eventos/evento4.jpg" alt="imagen curso">
                 
               <div class="contenido_evento">    
                <h3>TITULO DEL EVENTO</h3>
                <p class="contenid_parrafo">
                    <span>Decripción </span>Se explicaran los principios basicos del cine, su historia, y la manera en la que el mundo actual esta divisando nuevas fronteras para este tipo de arte llevando en la practica por medio de diferentes tecnicas y metodologias importantes para su desarrollo.<br><br>
                    <span>Jornada: </span>Mañana<br><br>
                    <span>Horario: </span> 9:00am - 1:00pm<br><br>
                    <span class="fecha">Fecha de inicio: </span> 20 enero 2022
                </p>    
                
            </div>
            
            <a href="#fivesection" class="close">X</a>
        </article>


        

        <script src="../js/interfaz_externa/eventos.js"></script>
    </body>
</html>