<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/interfaz_externa/minibiblioteca.css">
    <title>Biblioteca</title>
</head>
<body>
    <!--INICIO DE MENU-->
    <header>
        <img src="../img/logos/logotipo3.png" alt="Logo Kinesfera">
        <h1>Kinesfera <span> Lab</span></h1>
        <nav>
            <a href="../../index.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="eventos.html">Eventos</a>
            <a href="minibiblioteca.html">Biblioteca</a>
            <a href="galeria.html">Galeria</a>
            <a href="login.html">Ingresar</a>
        </nav>
    </header> <br>
    <!--FIN DEL MENU-->
    <div class="contenedor_cajas contenedor1">
        <h1>BIBLIOTECA</h1>

        <div class="caja caja1">
            <img class="frente" src="../img/interfaz_externa/biblioteca/portadas/1.jpg" alt="">
            <h2>MODO DE VER</h2>
            <p>Este libro revela cómo nuestros modos de ver afectan a nuestra forma de interpretar. En concreto analiza cuatro aspectos de la interpretación de la pintura al óleo: su origen relacionado con el sentido de la propiedad, la posición continuada de la mujer como objeto pictórico, la relación entre la herencia visual de la pintura y la publicidad actual y, por último, la transformación del significado de la obra original en el marco de sus múltiples reproducciones. Con los años, Modos de ver se ha convertido en un título indispensable de la teoría del arte y de la comunicación visual. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur doloremque consectetur tempora, nemo beatae mollitia quia provident officia consequuntur, vero ipsam ducimus accusamus minus dicta, aut deleniti eum expedita?</p>
        </div>
         

        <div class="caja caja2">
            <img src="../img/interfaz_externa/biblioteca/portadas/2.jpg" alt="">
            <h2>EL CAMINO DEL ARTISTA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ullam adipisci autem consequatur molestiae ex placeat dolorum veniam et, unde consectetur mollitia eius saepe ratione aut aperiam tempora totam eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor labore, quibusdam, reiciendis tempore assumenda deserunt nam itaque maxime vitae quia temporibus nihil vel voluptate. Eos, obcaecati! Corporis unde architecto animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem animi quia repudiandae? Fugit obcaecati atque cumque suscipit quo, ex expedita adipisci? Saepe dolore, omnis quia molestiae provident illo perspiciatis vitae? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto asperiores architecto accusamus quas obcaecati nisi, ullam reprehenderit repellendus vel fugit eum temporibus amet ut soluta odit inventore nulla assumenda perspiciatis.</p>
        </div>

        <div class="caja caja3">
            <img src="../img/interfaz_externa/biblioteca/portadas/3.jpg" alt="">
            <h2>LA HISTORIA DEL ARTE</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ullam adipisci autem consequatur molestiae ex placeat dolorum veniam et, unde consectetur mollitia eius saepe ratione aut aperiam tempora totam eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor labore, quibusdam, reiciendis tempore assumenda deserunt nam itaque maxime vitae quia temporibus nihil vel voluptate. Eos, obcaecati! Corporis unde architecto animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem animi quia repudiandae? Fugit obcaecati atque cumque suscipit quo, ex expedita adipisci? Saepe dolore, omnis quia molestiae provident illo perspiciatis vitae? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto asperiores architecto accusamus quas obcaecati nisi, ullam reprehenderit repellendus vel fugit eum temporibus amet ut soluta odit inventore nulla assumenda perspiciatis.</p>
        </div>

        <div class="caja caja4">
            <img src="../img/interfaz_externa/biblioteca/portadas/4.jpeg" alt="">
            <h2>PSICOLOGIA DEL COLOR</h2>
            <p>El color es sensorial e individual, subjetivo por tanto. La psicología clasifica sus
                percepciones adjudicándole significados, y atendiendo a las funciones que en él se
                aprecian, que, como dice J.C. Sanz, serían de adaptación y de oposición.
                Las funciones de adaptación desarrollarían respuestas activas, vivaces, animadas e
                intensas. Por el contrario, las funciones de oposición sugieren respuestas pasivas,
                depresivas y débiles. Las de adaptación son estimulantes y excitantes; las de oposición,
                sedantes y tranquilizadoras. Estas reacciones emocionales ante la percepción del color
                serían las que contribuirán a darles sus significados primarios. 
                </p>
        </div>
    </div>

    <div class="contenedor_cajas contenedor2">

        <div class="caja caja1">
            <img src="../img/interfaz_externa/biblioteca/portadas/5.jpeg" alt="">
            <h2>DANZA CLASICA Y MODERNA</h2>
            <p>De entre todas las artes escénicas que con mayor o menor éxito se han
                desarrollado en Chile, la danza (y el ballet, considerando éste como su expresión
                más técnica y sistematizada) es sin duda la manifestación artística más
                postergada en cuanto a contar con registros históricos y estudios completos
                respecto a su historia y desarrollo en nuestro país.
                 Si bien existen algunos textos, como los escritos por la periodista Yolanda
                Montecinos, no es menos cierto que toda o casi toda la bibliografía actual se
                refiere a la formación del Ballet Nacional Chileno (Banch) particularmente a su
                “época de oro” bajo la dirección de Ernst Uthoff , y a la historia del Ballet de
                Santiago. La mayoría de estos registros abarcan la historia nacional hasta 1962,
                pero no hay estudios importantes respecto al fenómeno de la “Danza
                Independiente” y a la generación de jóvenes coreógrafos nacionales que
                comienzan sus actividades a mediados de las década de los ’80. </p>
        </div>
         

        <div class="caja caja2">
            <img src="../img/interfaz_externa/biblioteca/portadas/6.jpeg" alt="">
            <h2>VER Y COMPRENDER LAS ARTES PLASTICAS</h2>
            <p>las artes visuales desempeñan un papel fundamental en el desarrollo de la creatividad de los niños en la escuela, ya que a través de técnicas lúdicas como el dibujo, el modelado y la pintura, el niño ejercita su flexibilidad, originalidad e innovación, creando obras de arte únicas e irrepetibles.
                los niños ejercitan su flexibilidad, originalidad e innovación, creando obras de arte únicas e irrepetibles.
                obras únicas e irrepetibles y puede expresar en ellas sus sentimientos, pensamientos y
                emociones. Hay que tener en cuenta que aunque las artes plásticas se han potenciado en la actual
                educación actual en la llamada Estética Cultural, siguen mostrando dificultades en la enseñanza
                en la enseñanza, bajo la cual la mayoría de los profesores no están preparados metodológicamente,
                las asignaturas con "más fuerza" luchan por conseguir más horas para ellas en un horario ajustado, sobre todo en lo que se refiere al
                horario, sobre todo a la hora de impartirlo, se reduce sólo a seguir modelos, lo que
                modelos, lo que hace que el niño desarrolle su creatividad. 
                
                Traducción realizada con la versión gratuita del traductor www.DeepL.com/Translator</p>
        </div>

        <div class="caja caja3">
            <img src="../img/interfaz_externa/biblioteca/portadas/7.jpeg" alt="">
            <h2>EL LIBRO DE LA SALSA</h2>
            <p>La canción de amor, y el bolero caribe muy en particular, exigen muchos libros
                carentes de prejuicios intelectuales, aparentemente cultos o pretenciosamente
                lanzados en nombre de la cultura. Por el momento, solo nos interesa destacar la
                indeclinable persistencia de cierto canto amoroso, de uno, quizá más auténtico,
                que sobrevive frente a otro, tal vez más tramposo o ficticio. Una misma línea,
                considerablemente sólida, se extiende desde estos boleros contemporáneos de
                Curet Alonso, hasta llegar a las primeras manifestaciones del canto amoroso
                urbano gestadas a comienzos del siglo xx en nuestro continente. Son canciones
                que con demasiada facilidad logran superar el simple paso de las generaciones, las
                sofisticaciones y las modas. Esa recurrencia del gusto popular sobre Gardel, por
                ejemplo, es exageradamente importante como para ser escamoteada en la
                insoportable excusa de la banalidad y la cursilería.</p>
        </div>

        <div class="caja caja4">
            <img src="../img/interfaz_externa/biblioteca/portadas/8.jpeg" alt="">
            <h2>EL DESPERTAR DEL DISEÑO GRÁFICO</h2>
            <p>En la antigüedad, los medios de comunicación visual usados fueron principalmente, la pintura, escultura, dibujo,
                mosaico, sobre diferentes soportes como: tablas, lienzo, muro, piedra o mármol, etc.
                El medio de comunicación, se transforma en la obra de arte, que en este caso, coincide con el mensaje.
                El uso de la escritura (representación gráfica de la palabra) se mantuvo reservado, hasta hace muy poco, a la clase
                instruida: funcionarios de la iglesia y el estado, clases altas, que eran capaces de leer y escribir.
                El antecedente histórico de la tipografía es la escritura "lapidaria" o "epigráfica" greco-latina (letra tallada en piedra,
                generalmente sobre bloques de mármol). Posteriormente se usaron otros soportes: arcilla, papiro, pergamino,
                papel.
                En cuanto a este tipo de escritura, Roma superó a Grecia, ya que la columna Trajana (monumento recordatorio),
                cuyas inscripciones en la base de la columna, talladas en la piedra, dieron origen a lo que muy posteriormente fue la
                familia tipográfica conocida como "romana"[1] , que dominó el mundo de la tipografía durante mucho tiempo.
                Recién en la segunda década del siglo XX se produce la sistematización de las letras de "palo seco"[2].
                ¿Recuerdan la Rev</p>
        </div>
    </div>

    
    

    
    
    
    
    
    <!--<main class="contenedor_mayor">
        <div class="targeta">
        <div class="container_document" >
            <img class="portada_doc" src="../img/interfaz_externa/biblioteca/portadas/1.jpg" alt="portada">
            <h2 class="titulo">Modos de ver</h2>
            <p class="descripcion">Este libro revela cómo nuestros modos de ver afectan a nuestra forma de interpretar. En concreto analiza cuatro aspectos de la interpretación de la pintura al óleo: su origen relacionado con el sentido de la propiedad, la posición continuada de la mujer como objeto pictórico, la relación entre la herencia visual de la pintura y la publicidad actual y, por último, la transformación del significado de la obra original en el marco de sus múltiples reproducciones. Con los años, Modos de ver se ha convertido en un título indispensable de la teoría del arte y de la comunicación visual. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur doloremque consectetur tempora, nemo beatae mollitia quia provident officia consequuntur, vero ipsam ducimus accusamus minus dicta, aut deleniti eum expedita?</p>
            <p class="paginas">100 paginas</p>
            <a class="btn_documento" href="../img/interfaz_externa/biblioteca/documentos/1.pdf" target="blanck">Ver</a>
        </div>
        <div class="container_autores">
            <h2>Autores</h2>
            <img class="img_autor" src="../img/interfaz_externa/biblioteca/autores/1.jpg" alt="autor">
            <p class="nom_autor">John Berger , Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem non architecto, harum excepturi quaerat voluptas consectetur sint nihil aliquid aliquam beatae debitis quasi modi facilis praesentium maiores aspernatur, veritatis est!, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, eligendi. Beatae dolorum inventore itaque quidem dolores quia unde neque, voluptatum eveniet rerum soluta quisquam numquam atque eaque quod tenetur repudiandae.</p>
        </div>
        </div><br>

        <div class="targeta">
        <div class="container_document" >
            <img class="portada_doc" src="../img/interfaz_externa/biblioteca/portadas/2.jpg" alt="portada">
            <h2 class="titulo">El camino del artistar</h2>
            <p class="descripcion">Una guía para vivir la vida del artista; un trabajo profundamente provocativo e inspirador. Siguiendo el principio básico de que la expresión creativa es la dirección natural de la vida, Julia Cameron nos muestra cómo recuperar nuestra creatividad mediante un exhaustivo programa en el que nos enseña a superar los bloqueos mentales, como el miedo, los celos, las creencias limitadoras, las adicciones y otras fuerzas inhibidoras, y a reemplazarlos mediante la confianza artística.</p>
            <p class="paginas">166 paginas</p>
            <a class="btn_documento" href="../img/interfaz_externa/biblioteca/documentos/2.pdf" target="blanck">Ver</a>
        </div>
        <div class="container_autores">
            <h2>Autores</h2>
            <img class="img_autor" src="../img/interfaz_externa/biblioteca/autores/2.jpg" alt="autor">
            <p class="nom_autor">Julia Cameron</p>
        </div>
        </div><br>

        <div class="targeta">
        <div class="container_document" >
            <img class="portada_doc" src="../img/interfaz_externa/biblioteca/portadas/3.jpg" alt="portada">
            <h2 class="titulo">La historia del arte</h2>
            <p class="descripcion">Este texto es una colección de apuntes, ideas encontradas y breve análisis de La Actualidad de lo Bello, el arte como juego, símbolo y fiesta, un libro del filósofo y padre de la hermenéutica, Hans-Georg Gadamer. Es un libro publicado originalmente en 1977 que trata sobre el arte y la experiencia de recepción del arte, la belleza, la estética y la expresión de paradigmas y pretensiones de verdad a través de la invención poética.</p>
            <p class="paginas">666 paginas</p>
            <a class="btn_documento" href="../img/interfaz_externa/biblioteca/documentos/3.pdf" target="blanck">Ver</a>
        </div>
        <div class="container_autores">
            <h2>Autores</h2>
            <img class="img_autor" src="../img/interfaz_externa/biblioteca/autores/3.jpg" alt="autor">
            <p class="nom_autor">E.H. Gombrich</p>
        </div>
        </div>

    </main-->
    
</body>
</html>