<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/interfaz_externa/minibiblioteca.css">
    <title>Biblioteca</title>
</head>
<body>
    <header>
        <img src="../img/logos/logotipo3.png" alt="Logo Kinesfera">
        <h1>Kinesfera <span> Lab</span></h1>
        <nav>
            <a href="../../index.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="eventos.html">Eventos</a>
            <a href="minibiblioteca.html">Biblioteca</a>
            <a href="galeria.html">Galeria</a>
            <a href="login.html">Ingresar</a>
        </nav>
    </header> <br>
    <main class="contenedor_mayor">
        <div class="targeta">
        <div class="container_document" >
            <img class="portada_doc" src="../img/interfaz_externa/biblioteca/portadas/1.jpg" alt="portada">
            <h2 class="titulo">Modos de ver</h2>
            <p class="descripcion">Este libro revela cómo nuestros modos de ver afectan a nuestra forma de interpretar. En concreto analiza cuatro aspectos de la interpretación de la pintura al óleo: su origen relacionado con el sentido de la propiedad, la posición continuada de la mujer como objeto pictórico, la relación entre la herencia visual de la pintura y la publicidad actual y, por último, la transformación del significado de la obra original en el marco de sus múltiples reproducciones. Con los años, Modos de ver se ha convertido en un título indispensable de la teoría del arte y de la comunicación visual. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur doloremque consectetur tempora, nemo beatae mollitia quia provident officia consequuntur, vero ipsam ducimus accusamus minus dicta, aut deleniti eum expedita?</p>
            <p class="paginas">100 paginas</p>
            <a class="btn_documento" href="../img/interfaz_externa/biblioteca/documentos/1.pdf" target="blanck">Ver</a>
        </div>
        <div class="container_autores">
            <h2>Autores</h2>
            <img class="img_autor" src="../img/interfaz_externa/biblioteca/autores/1.jpg" alt="autor">
            <p class="nom_autor">John Berger , Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem non architecto, harum excepturi quaerat voluptas consectetur sint nihil aliquid aliquam beatae debitis quasi modi facilis praesentium maiores aspernatur, veritatis est!, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, eligendi. Beatae dolorum inventore itaque quidem dolores quia unde neque, voluptatum eveniet rerum soluta quisquam numquam atque eaque quod tenetur repudiandae.</p>
        </div>
        </div><br>

        <div class="targeta">
        <div class="container_document" >
            <img class="portada_doc" src="../img/interfaz_externa/biblioteca/portadas/2.jpg" alt="portada">
            <h2 class="titulo">El camino del artistar</h2>
            <p class="descripcion">Una guía para vivir la vida del artista; un trabajo profundamente provocativo e inspirador. Siguiendo el principio básico de que la expresión creativa es la dirección natural de la vida, Julia Cameron nos muestra cómo recuperar nuestra creatividad mediante un exhaustivo programa en el que nos enseña a superar los bloqueos mentales, como el miedo, los celos, las creencias limitadoras, las adicciones y otras fuerzas inhibidoras, y a reemplazarlos mediante la confianza artística.</p>
            <p class="paginas">166 paginas</p>
            <a class="btn_documento" href="../img/interfaz_externa/biblioteca/documentos/2.pdf" target="blanck">Ver</a>
        </div>
        <div class="container_autores">
            <h2>Autores</h2>
            <img class="img_autor" src="../img/interfaz_externa/biblioteca/autores/2.jpg" alt="autor">
            <p class="nom_autor">Julia Cameron</p>
        </div>
        </div><br>

        <div class="targeta">
        <div class="container_document" >
            <img class="portada_doc" src="../img/interfaz_externa/biblioteca/portadas/3.jpg" alt="portada">
            <h2 class="titulo">La historia del arte</h2>
            <p class="descripcion">Este texto es una colección de apuntes, ideas encontradas y breve análisis de La Actualidad de lo Bello, el arte como juego, símbolo y fiesta, un libro del filósofo y padre de la hermenéutica, Hans-Georg Gadamer. Es un libro publicado originalmente en 1977 que trata sobre el arte y la experiencia de recepción del arte, la belleza, la estética y la expresión de paradigmas y pretensiones de verdad a través de la invención poética.</p>
            <p class="paginas">666 paginas</p>
            <a class="btn_documento" href="../img/interfaz_externa/biblioteca/documentos/3.pdf" target="blanck">Ver</a>
        </div>
        <div class="container_autores">
            <h2>Autores</h2>
            <img class="img_autor" src="../img/interfaz_externa/biblioteca/autores/3.jpg" alt="autor">
            <p class="nom_autor">E.H. Gombrich</p>
        </div>
        </div>

    </main>
    
</body>
</html>