<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Shippori+Antique&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="../css/interfaz_externa/noticias.css">
</head>
<body>

    <header>
        <img src="../img/logos/logotipo3.png" alt="Logo Kinesfera">
        <h1>Kinesfera <span> Lab</span></h1>
        <nav>
            <a href="../../index.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="eventos.html">Eventos</a>
            <a href="minibiblioteca.html">Biblioteca</a>
            <a href="galeria.html">Galeria</a>
            <a href="login.html">Ingresar</a>
        </nav>
    </header>

    <section class="clientes_contenedor">
        <div class="cards">
          
          
            <a href="#noticia_uno" class="card">
                <img src="../img/interfaz_externa/noticias/obra2.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Noticia destacada</h4>
                    <p>Kinesfera lab abre sus puertas al publico este 2022!</p>
            </div>
            </a>
            <a href="#noticia_dos" class="card">
                <img src="../img/interfaz_externa/noticias/obra2.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Noticia destacada</h4>
                    <p>Se han inscrito 300 aprendices en la ultima semana,aprovecha y consigue tu cupo!!</p>
                </div>
            </a>

            <a href="#noticia_tres" class="card">

                <img src="../img/interfaz_externa/noticias/obra2.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Noticia destacada</h4>
                    <p>Evento de inauguración este 02 de febrero</p>
                </div>
            </div>
            </a>            
        </div>
    </section>

    <div class="contenedor_imagenes">
        <div class="tarjeta_eventos">
            <div class="tarjeta">
                <div class="adelante card1">
                    <img src="../img/interfaz_externa/noticias/evento5.jpg" alt="">
                </div>
                <div class="atras">Evento de luces diversas<br> Hora: 7:30 p.m <br> Fecha: 15 de diciembre <br> Lugar: Medellin-colombia Casa encantada junglares <br>NO TE LO PIERDAS... TE ESPERAMOS <br> </div>
            </div>
        </div>

        <div class="tarjeta_eventos">
            <div class="tarjeta">
                <div class="adelante card2">
                    <img src="../img/interfaz_externa/noticias/evento.jpg" alt="">
                </div>
                <div class="atras">Cultura en escena<br> Hora: 05:00 p.m <br> Fecha: 29 de Enero <br> Lugar: Medellin-colombia Moravia <br>NO TE LO PIERDAS... Entrada gratuita</div>
            </div>
        </div>

        <div class="tarjeta_eventos">
            <div class="tarjeta">
                <div class="adelante card3">
                   <img src="../img/interfaz_externa/noticias/evento4.jpg" alt="">>-->
                </div>
                <div class="atras">Evento Noche Drag<br> Hora: 06:00 p.m <br> Fecha: 02 de Noviembre <br> Lugar: Medellin-colombia Auditorio del parque explora <br>NO TE LO PIERDAS... TE ESPERAMOS </div>
            </div>
        </div>

    </div>








<!--IMAGENES QUE VOLTEARAN LUEGO-->
  <!--  <section class="about-services">
        <div class="contenedor">
            
            <h1 class="titulo">OBRAS DESTACADAS</h1> <br>
            
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="img/noticias/evento5.jpg" alt="">
                    <h3>Evento</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>

                <div class="servicio-ind">
                    <img src="img/noticias/evento.jpg" alt="">
                    <h3>Evento</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                
                <div class="servicio-ind">
                    <img src="img/noticias/evento4.jpg" alt="">
                    <h3>Evento</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
            </div>
        </div>
    </section>
    </main>
-->

    <article class="noticias_big" id="noticia_uno">
        <div class="container"><img src="../img/interfaz_externa/noticias/dos.jpg" alt="imagen">
            <div class="second"><i class="fas fa-user-circle" id="user"></i><h2>Kinesfera Lab</h2>
                <pre>Kinesfera_lab@gmail.com</pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nam eius ullam possimus laboriosam aspernatur debitis recusandae fugiat. Impedit suscipit necessitatibus nisi unde asperiores quod laborum omnis vitae, accusantium natus!</p></div>
        </div>
        <a href="#noticia_dos" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="#" class="close">X</a>
    </article>

    <article class="noticias_big" id="noticia_dos">
        <a href="#noticia_uno" class="next"><i class="fas fa-arrow-left"></i></a>
        <div class="container"><img src="../img/interfaz_externa/noticias/tres.jpg" alt="imagen">
            <div class="second"><i class="fas fa-user-circle" id="user"></i><h2>Kinesfera Lab</h2>
                <pre>Kinesfera_lab@gmail.com</pre>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo odit eveniet aliquid, corrupti culpa deleniti ut totam aliquam est at voluptas debitis placeat suscipit error illum beatae veritatis? Quibusdam, perspiciatis?</p></div>
        </div>
        <a href="#noticia_tres" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="#" class="close">X</a>
    </article>

    <article class="noticias_big" id="noticia_tres">
        <a href="#noticia_dos" class="next"><i class="fas fa-arrow-left"></i></a>
        <div class="container"><img src="../img/interfaz_externa/noticias/cuatro.jpg" alt="imagen">
            <div class="second"><i class="fas fa-user-circle" id="user"></i><h2>Kinesfera Lab</h2>
                <pre>Kinesfera_lab@gmail.com</pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illo minima error, eveniet quos doloremque harum facilis impedit totam eius atque magnam, ipsum quasi vel, id quas? Nemo, ab natus?</p></div>
        </div>
        <a href="#" class="close">X</a>
    </article>
    
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
    </footer>
</body>

</html>

