.contenedor_principal{
    width: 70%;
    height: 100%;
    margin-left: 30%;
    margin-bottom: 5%;
}

.contenedor_cards{
    width: 40%;
    height: 80%;
    display: inline-block;
    margin-left: 6%;
    margin-top: 7%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 0px black;
}

.card{
    border-radius: 10%;
}

/* IMAGENES  */
.image{
    border-radius: 5% 5% 0% 0%;
    width: 100%;
    height: 9em;
    -o-object-fit: cover;
    object-fit: cover;
}
.nom_clase{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    font-family:Calibri;
    margin-top: -1px;
    color: rgb(90, 88, 88);
}

.btn{
    background-color: #00AAF7;
    width: 48%;
    height: 8%;
    display: block;
    margin-bottom: 4%;
    margin-left: 26%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 120%;
    color: antiquewhite;
    border-radius: 3%;
    padding: 2%;
    border: 1px solid gray;
}

.btn_m{
    background-color: #00AAF7;
    width: 43%;
    height: 8%;
    display: block;
    margin-bottom: 4%;
    margin-left: 26%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 120%;
    font-family:Arial;
    color: antiquewhite;
    border-radius: 3%;
    padding: 2%;
    border: 1px solid gray;
}

.btn:hover{
    background-color: #037db6;
}
.btn_m:hover{
    background-color: #037db6;
}

.next01{
    background-color: #ffffff;
    border: 1px solid rgb(102, 99, 99);
    margin-top: 80%;
    display: inline-block;
    width: 5%;
    height: 5%;
    padding-top: 3px;
    font-size: 150%;
    color: rgb(102, 99, 99);
    text-align: center;
    margin-left: 39%;
}

.next02{
    background-color: #ffffff;
    border: 1px solid rgb(102, 99, 99);
    margin-top: 80%;
    display: inline-block;
    width: 5%;
    height: 5%;
    padding-top: 3px;
    font-size: 150%;
    color: rgb(102, 99, 99);
    text-align: center;
    margin-left: 10%;
}

/* CLICK */

.container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.342);
    transition: transform .4s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.container_click{
    width: 60%;
    height: 80%;
    background-color: white;
    padding: 1em;
}

.container:target{
    transform: scale(1);
}

.close{
    display: inline-block;
    position: absolute;
    top: 7%;
    right: 7%; 
    background-color: #1e5875;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.7em;
    text-align: center;
    border-radius: 50%;
}

.close:hover{
    background-color: #000b11;
}


legend{
    text-align: center;
    font-size: 2em;
    font-family: calibri;
    font-weight: bold;
    color: #002a3f;
    margin: 1em;
}

.contenedor_cards_mod{
    width: 40%;
    height: 80%;
    display: inline-block;
    margin-left: 32%;
    text-align: center;
    margin-top: 7%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 0px black;
    margin-bottom: 6%;
}
.title_modificar{
    font-size: 200%;
    font-family: Arial;
}

.text{
    height: 200%;
    width: 60%;
}


