@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Modak&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}




body{
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    position: absolute;
    width: 100%;
    overflow-x: hidden;
   
    
}

#icono-kinesfera{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: -10px;
    position: absolute;

}

#titulo-kinesfera{
    position: absolute;
    color:white;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
}

header{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}
 


.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translate(10px);
}

.icon__menu i{
    font-size: 30px;
    cursor: pointer;
    position: absolute;

}

.menu__side{
    width: 80px;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid black;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*OCULTAR SCROLL*/

.menu__side::-webkit-scrollbar{
    display: none;
}

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
   

}

.options__menu{
    padding: 20px 30px;
    position:absolute;
    top: 80px;

}

.options__menu a{
    color: white;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;

}

.options__menu a:hover{
    color: #6cc33c;
}

.options__menu .option{
    padding: 20px 0px ;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option_uni{
    margin-top: 1em;
}

.options__menu .option i{
     width:20px;
     margin-right: 20px;
     cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color:#6cc33c;

}

.selected:before{
    content: "";
    width: 3px;
    height: 80%;
    background: #6cc33c;
    position: absolute;
    top: 10%;
    left: -30px;

}

/*clases para usar en js*/

.body_move{
    margin-left: 250px;

}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px) {
    .body_move{
        margin-left: 0px;
        
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
    
}

/*fin del menu */
html.body{
    display: grid;
    height: 100%;
}
body{
    scroll-behavior: smooth;
    
}
.Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../../../img/interfaz_interna/explorar/Social.jpg);
    
}
.Container2{
    height: 15%;
    width: 100%;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    z-index: 10;
}


.menu {
    color: rgb(255, 255, 255);
    margin-top: 1%;
}

.icons{
    list-style: none;
}
.icons li{
    text-align: center;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
.icons li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    transition: all 0.3s ease-in;
}
.icons li:hover:before{
    transform: rotate(360deg);
    border-radius: 100%;
}
.icons li a span{
    font-size: 27px;
    line-height: 70px;
    color: #fff;
    transition: all 0.3s ease-out;
}
.icons li:hover a span{
    transform: scale(1.2);
}

.Principal{
    width: 46%;
    position: relative;
    right: 20px;
    margin-top: 20px;
    
}
.Box{
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    border-radius: 5px;
    position: relative;
    margin-top: 7%;
    background-color: white;
}

img {
    position: relative;
    border-radius: 1%;
    margin-top: 6%;
}
.Content{
    margin-top: 5%;
    margin: 20px;
    text-align: center;
}

.Name{
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}
.indfo{
    text-align: center;
    
}


