body{
    background-image: url(../../../img/interfaz_externa/clase/3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.formulario{
    width: 35%;
    text-align:center;
    background-color: #178cc2;
    padding: 0.8%;
    padding-top: 0.8%;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    color: white;
    box-shadow: 10px 10px 10px rgb(95, 95, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caja1{
    background-color: #000000;
    padding: 5%;
    padding-top: 1%;
    border-radius: 8px;
}

h1 {
    font-size: 200%;
    margin-bottom: 4%;
}

.Control {
    width: 83.5%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    border: 0.5px solid black;
}

.Control1 {
    width: 30%;
    margin-top: 5%;
    background-color: #0f435c;
    color: white;
    font-size:large;
    padding: 2%;
    border-radius: 5px;
    border: 0.5px solid black;
}

.Control1:hover{
    background-color: #00abfa;
    color: black;
}

.input-tiempo-options{
    width: 86%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-top: 2%;
}

.input-jornada-options{
    width: 86%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-top: 2%;
}

.input-categoria-options{
    width: 86%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-top: 2%;
}

.input-cargo{
    font-size: 150%;
    margin-bottom: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-tiempo{
    font-size: 150%;
    margin-bottom: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-categoria{
    font-size: 150%;
    margin-bottom: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
